.bold {
    font-weight: bold;
}

h2 {
    text-align: center;
}

.no-break {
    white-space: nowrap;
}

.login {
    min-width: 400px;
    padding: 20px;
}

@media (max-width: 900px) {
    .login {
        min-width: 0;
    }
}

.task {
    padding: 20px 50px;
}

.taskList {
    padding: 50px;
}

.newTask {
    padding: 0 100px;
}